.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:stomaches, :index)
      %li.active=link_to pat(:new), url(:stomaches, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:stomach)
    .inner
      -form_for :stomach, url(:stomaches, :create), :class => :form do |f|
        =partial "stomaches/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")